/* GENERAL */

@mixin font {
    font-family: 'Times New Roman', serif;
    font-size: 100%;
    color: rgb(4, 86, 133);
}

body,
.nav-link {
    @include font;
}

.logo {
    margin-top: 5%;
    margin-left: 5%;
}

/* NAV */

#my-nav {
    align-items: flex-end;
}

#my-nav .nav-link {
    color: rgb(4, 86, 133);
    margin: auto 2rem;
}


/* FOOTER */

.footer-copy,
.address {
    line-height: 1.3;
}

.footer-copy {
    padding-left: 10%;
    padding-right: 10%;
}

.address {
    font-size: .8rem;
}

.phone {
    line-height: 3;
}

/* MEDIA QUERIES */