/* GENERAL */

@mixin font {
    font-family: 'Times New Roman', serif;
    font-size: 100%;
    color: rgb(0, 51, 161);
}

@mixin accent-font {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.container-fluid {
    padding: 0;
}

body,
.link {
    @include font;
}

h2 {
    @include accent-font;
    font-size: 1.15rem;
}

.link-underline {
    @include font;
    border-bottom: solid 2px rgb(139, 111, 75);
    cursor: pointer;
}

.link-underline:hover {
    text-decoration: none;
    color: rgb(139, 111, 75);
}

.logo {
    margin: 5%;
    width: auto;
    height: 50px;
}

.video-container {
    background-color: black;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about {
    background-color:rgb(0, 51, 161);
    color: white;
    padding: 10%;
    font-weight: 400;
}

.photo {
    display: block;
    margin: auto;
    width: 100vw;
}

.map-photo {
    padding: 0;
}

.map-photo .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.title {
    @include accent-font;
    font-size: .8rem;
    margin-top: 5%;
}

.values-title {
    @include accent-font;
}

.map {
    display: block;
    margin: 5% auto;
    width: 300px;
    height: 200px;
}

.login {
    margin-bottom: 5%;
}

.btn-outline-primary {
    color:rgb(0, 51, 161);
    border-color: rgb(0, 51, 161);
}

.btn-outline-primary:hover {
    background-color: rgb(0, 51, 161);
    color: white;
}

/* MODALS */
    
.modal-title {
    margin-top: 1rem;
    @include accent-font;
}

.modal-content {
    padding: 2%;
}

.modal-img {
    width: 50%;
    height: auto;
    margin: 2% 7% 2% 0;
}

.modal-text {
    font-size: 1rem;;
}

#modal-close-btn,
button {
    @include accent-font;
    font-size: .8rem;
    color: rgb(139, 111, 75);
    border-color: rgb(0, 51, 161);
}

#modal-close-btn:hover,
button:hover {
    background-color: rgb(139, 111, 75);
    color: white;
}

#modal-btn.link:hover {
    border-bottom: solid 2px rgb(139, 111, 75);
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid rgb(0, 51, 161);
}


/* NAV */

#my-nav .navbar-nav {
    text-align: right;
}
#my-nav .navbar-nav .nav-item .link {
    @include accent-font;
    font-size: .9rem;
    line-height: 2.5rem;
    transition: .5s;
}
#my-nav .link:hover {
    color: rgb(139, 111, 75);
    background-color: #ededed;
    border-radius: 5px;
    padding: 2%;
    text-decoration: none;
    cursor: pointer;
}

/* FOOTER */

.footer {
    border-top: 10px solid rgb(139, 111, 75);
    padding: 0 4%;
}
.footer-copy p {
    font-size: 1.2rem;
}
.footer-copy:first-child {
    margin-top: 8%;
}
.address {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3% 5%;
}
.home-footer .footer-copy,
.gulfstream-footer .footer-copy,
.background-footer .footer-copy {
    margin-bottom: 5%;
}
.gulfstream-footer,
.background-footer {
    padding: 0 5%;
}

.people-footer {
    padding-left: 5%;
    margin-bottom: 5%;
}
.people-list {
    font-size: .7rem;
    line-height: 1.5rem;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}
.values-footer {
    padding: 5%;
}
.values-footer .footer-copy {
    margin: 2% 0 0 0;
    padding: 5%;
}
.values-footer .footer-copy:first-child {
    margin-top: 0;
}
.values-footer ul {
    list-style: none;
}
.login-footer {
    padding: 0 5%;
}
.login {
    justify-content: center;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 360px) {
    .people-list {
        font-size: .8rem;
        line-height: 1.6rem;
    }
    .title {
        font-size: .9rem;
    }
}


@media only screen and (min-width: 450px) {
    h2 {
        font-size: 1.5rem;
    }
    .logo {
        height: 60px;
        margin-left: 7%;
    }
    .title {
        font-size: 1.15rem;
        margin: 8% 0 4% 0;
    }
    .people-list li {
        font-size: 1rem;
        line-height: 2rem;
    }

    .map {
        width: 350px;
        height: 250px;
    }
    .address {
        margin: 2% 0;
        justify-content: center;
    }
}

@media only screen and (min-width: 765px) {
    .logo {
        height: 55px;
        margin-left: 10%;
    }
    .navbar {
        margin-right: 3%;
    }
    .home-footer,
    .home-footer .footer-copy,
    .gulfstream-footer,
    .gulfstream-footer .footer-copy {
        margin: 0;
    }
    .home-footer .footer-copy,
    .gulfstream-footer .footer-copy,
    .background-footer .footer-copy {
        margin-top: 5%;
        margin-bottom: 0;
    }
    .home-footer .address,
    .gulfstream-footer .address,
    .background-footer .address {
        margin-top: 5%;
    }
    .address {
        font-size: 1rem;
        margin-top: 10%;
        padding: 0;
        justify-content: center;
    }
    .map {
        width: 300px;
        height: 250px;
        margin: 10% 5% 0 0;
    }
    .about {
        padding: 8%;
    }
    .about p {
        font-size: 1.1rem;
    }
    .people-footer {
        padding-left: 5%;
    }
    .title {
        margin: 5% 0 2% 0;
        font-size: 1.3rem;
    }
    .people-list li {
        font-size: .8rem;
    }
    .login-footer {
        padding: 5%;
    }
}


@media only screen and (min-width: 992px) {

    .modal-title {
        font-size: 1.4rem;
    }
    .title {
        font-size: 2rem;
        margin-top: 4%;
    }
    .navbar-expand-lg .navbar-collapse{
        justify-content: space-evenly;
    }
    #my-nav .navbar-nav .nav-item .link {
        padding: 5px;
        margin: 0 10px;
        font-size: .75rem;
    }
    .address {
        display: flex;
        justify-content: center;
        margin-top: 15%;
        font-size: 1.1rem;
        padding-left: 5%;
    }
    .contact-footer .address {
        margin-top: 10%;
    }
    .home-footer,
    .gulfstream-footer,
    .background-footer {
        padding: 0 3%;
    }
    .home-footer .address,
    .gulfstream-footer .address {
        text-align: left;
        margin-top: 5%;
    }
    .people li {
        line-height: 1.8rem;
    }
    #modal-btn.link {
        font-size: 1.25em;
    }
    .values-footer {
        padding: 3%;
    }
    .values-footer .footer-copy {
        margin: 0;
    }
    .map {
        width: 450px;
        height: 350px;
        margin: 10% 5% 0 0;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-copy,
    .footer-copy p {
        font-size: 1.3rem;
        margin-top: 0;
    }
    .footer-copy:first-child {
        margin-top: 4%;
    }
    .home-footer .footer-copy {
        padding-left: 0;
    }
    .home-footer .footer-copy,
    .gulfstream-footer .footer-copy,
    .background-footer .footer-copy {
        padding-right: 5%;
    }
    .home-footer .address,
    .gulfstream-footer .address,
    .background-footer .address {
        margin-top: 4%;
    }
    .address,
    .contact-footer .address {
        margin-top: 4%;
        justify-content: flex-start;
        text-align: left;
    }
    .map {
        margin-bottom: 10%;
    }
    .about {
        padding: 4%;
    }
    #modal-btn.link {
        font-size: 1.3em;
    }
    #my-nav .navbar-nav .nav-item .link {
        font-size: 1rem;
        margin: 0 15px;
    }
    .people li {
        font-size: 1.1em;
        line-height: 2.5rem;
    }

}


@media only screen and (min-width: 1400px) {
    .logo {
        height: 70px;
    }
    #my-nav .navbar-nav .nav-item .link {
        padding: 10px;
        margin: 0 20px;
    }
    #my-nav {
        margin-left: 5%;
    }
    #my-nav .link {
        font-size: 1.1rem;
    }
    .footer-copy,
    .footer-copy p {
        font-size: 1.3rem;
        margin-left: 3%;
        margin-top: 0;
    }
    .footer-copy:first-child {
        margin-top: 4%;
    }
    .home-footer,
    .gulfstream-footer, 
    .background-footer {
        padding: 0 5%;
    }
    .background-footer .footer-copy {
        margin-left: 0;
    }
    .values-footer {
        padding-right: 4%;
    }
    .address {
        font-size: 1.2rem;
    }
    .map {
        width: 500px;
        height: 350px;
        margin-left: 10%;
    }
    #modal-btn.link {
        font-size: 1.4em;
    }
    .people li {
        line-height: 2.7rem;
    }
}
